<div class="mt-16">
  <div class="flex justify-between mb-5">
    <h1 class="font-bold text-4xl">Movies</h1>
  </div>
  <div class="flex gap-5">
    <p-card class="w-full">
      <p-table [value]="movies" dataKey="id" [tableStyle]="{ 'min-width': '60rem' }" [expandedRowKeys]="expandedRows">
        <ng-template #header>
          <tr>
            <th style="width: 3rem"></th>
            <th>Name</th>
            <th>Genre</th>
            <th>Submitted By</th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template #body let-movie let-expanded="expanded">
          <tr [pRowToggler]="movie.subtitles.length > 1 ? movie : null">
            <td>
              @if (movie.subtitles.length > 1) {
                <p-button type="button" pRipple [text]="true" [rounded]="true" [plain]="true"
                          [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"/>
              }
            </td>
            <td>
              <div class="flex items-center gap-3">
                <p>{{ movie.name }}</p>
              </div>
            </td>
            <td class="flex gap-1">
              <p-chip *ngFor="let genre of movie.genres.slice(0, 3)" [label]="genre.name"></p-chip>
              <p-chip *ngIf="movie.genres.length > 3" [label]="'+' + (movie.genres.length - 3)"></p-chip>
            </td>
            <td>
              {{ movie.submitter }}
            </td>
            <td>
              <p-button (click)="deleteMovie($event, movie)" icon="pi pi-times" [rounded]="true" [text]="true" severity="danger" />
            </td>
          </tr>
        </ng-template>
        <ng-template #expandedrow let-movie>
          <tr>
            <td colspan="7">
              <div class="p-4">
                <p-table [value]="movie.subtitles" dataKey="id">
                  <ng-template #body let-subtitle>
                    <tr>
                      <td colspan="4">
                        {{ movie.name }} {{ subtitle.subtitle }}
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-card>
    <app-add-movie-form (submit)="submitMovie($event)"
                        (close)="resetForm()"></app-add-movie-form>
  </div>
  <p-confirm-dialog></p-confirm-dialog>
</div>
