<div class="mt-16">
  <div class="flex justify-between mb-5">
    <h1 class="font-bold text-4xl">Movies</h1>
  </div>
  <div class="flex gap-5">
    <p-card class="w-full">
      <p-table [value]="movies" dataKey="id" [tableStyle]="{ 'min-width': '60rem' }" [expandedRowKeys]="expandedRows">
        <ng-template #header>
          <tr>
            <th>Name</th>
            <th>Genre</th>
            <th>Submitted By</th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template #body let-movie let-expanded="expanded">
          <tr [pRowToggler]="movie">
            <td>
              <div class="flex items-center gap-3">
                <p>{{ movie.name }}</p>
              </div>
            </td>
            <td class="flex gap-1">
              <p-chip *ngFor="let genre of movie.genres.slice(0, 2)" [label]="genre.name | titlecase"></p-chip>
              <p-chip *ngIf="movie.genres.length > 2" [label]="'+' + (movie.genres.length - 2)"></p-chip>
            </td>
            <td>
              {{ movie.submitter }}
            </td>
            <td>
              <p-button (click)="deleteMovie($event, movie)" icon="pi pi-times" [rounded]="true" [text]="true"
                        severity="danger"/>
            </td>
          </tr>
        </ng-template>
        <ng-template #expandedrow let-movie>
          <tr>
            <td colspan="7">
              <div class="p-4">
                <p-table [value]="movie.genres" dataKey="id">
                  <ng-template #body let-genre>
                    <div>
                      <td class="flex gap-1">
                        <p-chip class="ml-1" [label]="genre.name | titlecase"></p-chip>
                      </td>
                    </div>
                  </ng-template>
                </p-table>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-card>
    <app-add-movie-form (submit)="submitMovie($event)"
                        (close)="resetForm()"></app-add-movie-form>
  </div>
  <p-confirm-dialog></p-confirm-dialog>
</div>
