<div class="mt-16">
  <div class="flex justify-between mb-5">
    <h1 class="font-bold text-4xl">Genres</h1>
  </div>
  <div class="flex gap-5">
    <p-card class="w-full">
      <p-table [value]="genres" dataKey="id" [tableStyle]="{ 'min-width': '60rem' }">
        <ng-template #header>
          <tr>
            <th>Name</th>
          </tr>
        </ng-template>
        <ng-template #body let-genre>
          <tr>
            <td>{{ genre.name }}</td>
            <td>
              <p-button (click)="deleteGenre($event, genre)" icon="pi pi-times" [rounded]="true" [text]="true"
                        severity="danger"/>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-card>
  </div>
  <p-confirm-dialog></p-confirm-dialog>
</div>
